<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1><%= title %></h1>
    <% categories.forEach((category) => { %>
        <p><%= category.name %></p>
        <a href="categories/<%= category.id %>/edit">Edit Category</a>
        <form action="categories/<%= category.id %>/delete" method="POST">
            <button type="submit">Delete</button>
        </form>
    <% }) %>
    <a href="/">Go back home</a>
</body>
</html>