<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1>Create <%= title %></h1>
    <form action="/create" method="POST">
        <input type="text" name="title" id="title">
        <textarea name="desc" id="desc" placeholder="Description"></textarea>
        <input type="text" name="rating" id="rating">

        <!-- <select name="category" id="category">
            <option value="" selected disabled hidden>
                Select Category
            </option>
            <% categories.forEach((category) => { %>
                <option value="<%= category.id %>"><%= category.name %></option>
            <% }) %>
        </select> -->

        <div>
            <% categories.forEach((category) => { %>
                <input type="checkbox" name="category[]" id="<%=category.id %>" value="<%= category.id %>">
                <label for="<%= category.id %>"><%= category.name %></label>
            <% }) %>
        </div>


        <div>
            <% directors.forEach((director) => { %>
                <input type="checkbox" name="directors[]" id="<%=director.id %>" value="<%= director.id %>">
                <label for="<%= director.id %>"><%= director.f_name %> <%= director.l_name %></label>
            <% }) %>
        </div>
        <button type="submit">Create Movie</button>
    </form>
</body>
</html>