<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
    <%- include('partials/header.ejs') %>

    <div class="row">
        <div class="col-2">
            <%- include('partials/sidebar.ejs') %>
        </div>

        <div class="col-10 row gap-4 h-25">
            <div class="d-flex justify-content-between p-4">
                <h4>Directors</h4>
                <a href="/directors/create" class="text-decoration-none border border-primary rounded bg-primary text-white align-self-center p-1">Add Director</a>
            </div>
            <% directors.forEach((director) => { %>
                <div class="card p-3 col-3 h-25">
                    <h5><%= director.f_name %> <%= director.l_name %></h5>
                    <div class="d-flex gap-4">
                        <a href="directors/<%= director.id %>/edit" class="text-decoration-none text-white border bg-primary p-1 rounded">Edit Director</a>
                        <form action="directors/<%= director.id %>/delete" method="POST">
                            <button type="submit" class="border border-danger rounded bg-danger text-white py-1">Delete</button>
                        </form>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
</body>
</html>