<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
    <%- include('partials/header.ejs') %>

    <div class="row">
        <div class="col-2">
            <%- include('partials/sidebar.ejs') %>
        </div>

        <div class="col-10 row mt-3 gap-4 h-25">
            <form action="/<%= movie.id %>/edit" method="POST" class="d-flex flex-column gap-2">
                <h1>Edit Movie</h1>
                <input type="text" name="title" id="title" value="<%= movie.title %>" placeholder="Movie Title">
                <textarea name="desc" id="desc" placeholder="Description"><%= movie.description %></textarea>
                <input type="text" name="rating" id="rating" value="<%= movie.rating %>" placeholder="Rating">

                <div>
                    <h4>Categories</h4>
                    <% categories.forEach((category) => { %>
                        <% const isChecked = selectedCategories.some((sc) => sc.category_id=== category.id) %>

                        <input type="checkbox" name="categories[]" id="<%=category.id %>" value="<%= category.id %>" <%= isChecked ? 'checked' : '' %>>
                        <label for="<%= category.id %>"><%= category.name %></label>
                    <% }) %>
                </div>


                <div>
                    <h4>Directors</h4>
                    <% directors.forEach((director) => { %>
                        <% const isChecked = selectedDirectors.some((sd) => sd.director_id === director.id) %>

                        <input type="checkbox" name="directors[]" id="<%=director.id %>" value="<%= director.id %>" <%= isChecked ? 'checked' : '' %>>
                        <label for="<%= director.id %>"><%= director.f_name %> <%= director.l_name %></label>
                    <% }) %>
                </div>
                <button type="submit" class="border border-primary rounded bg-primary text-white py-2">Edit Movie</button>
            </form>
        </div>
    </div>
    
</body>
</html>