<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
    <%- include('partials/header.ejs') %>

    <div class="row">
        <div class="col-2">
            <%- include('partials/sidebar.ejs') %>
        </div>

        <div class="col-10 row mt-3 gap-4 h-25">
            <form action="/directors/<%= director.id %>/edit" method="POST">
                <h4>Edit Director</h4>
                <div class="d-flex flex-column gap-2">
                    <input type="text" name="f_name" id="f_name" value="<%= director.f_name %>" placeholder="First Name">
                    <input type="text" name="l_name" id="l_name" value="<%= director.l_name %>" placeholder="Last Name">
                    <button type="submit" class="border border-primary rounded bg-primary text-white py-1">Edit Director</button>
                </div>
            </form>
        </div>
    </div>
    
</body>
</html>