<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1>Edit <%= title %></h1>
    <form action="/create" method="POST">
        <input type="text" name="title" id="title" value="<%= movie.title %>">
        <textarea name="desc" id="desc" placeholder="Description"><%= movie.description %></textarea>
        <input type="text" name="rating" id="rating" value="<%= movie.rating %>">

        <div>
            <% categories.forEach((category) => { %>
                <% const isChecked = selectedCategories.some((sc) => sc.category_id=== category.id) %>

                <input type="checkbox" name="categories[]" id="<%=category.id %>" value="<%= category.id %>" <%= isChecked ? 'checked' : '' %>>
                <label for="<%= category.id %>"><%= category.name %></label>
            <% }) %>
        </div>


        <div>
            <% directors.forEach((director) => { %>
                <% const isChecked = selectedDirectors.some((sd) => sd.director_id === director.id) %>

                <input type="checkbox" name="directors[]" id="<%=director.id %>" value="<%= director.id %>" <%= isChecked ? 'checked' : '' %>>
                <label for="<%= director.id %>"><%= director.f_name %> <%= director.l_name %></label>
            <% }) %>
        </div>
        <button type="submit">Edit Movie</button>
    </form>
</body>
</html>