<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

</head>
<body>
    <%- include('partials/header.ejs') %>

    <div class="row">
        <div class="col-2">
            <%- include('partials/sidebar.ejs') %>
        </div>

        <div class="col-10 mt-3">
            <div class="d-flex justify-content-between p-4">
                <h4>Movies</h4>
                <a href="/create" class="text-decoration-none border border-primary rounded bg-primary text-white align-self-center p-1">Add Movie</a>
            </div>
            <div class="d-flex justify-content-center">
                <table class="border w-75 mt-3 table">
                    <thead>
                        <tr>
                            <th class="text-center p-3 border border-black">Title</th>
                            <th class="text-center p-3 border border-black">Rating</th>
                            <th class="text-center p-3 border border-black">Directors</th>
                            <th class="text-center p-3 border border-black">Genre</th>
                            <th class="text-center p-3 border border-black border-bottom-0">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% movies.forEach((movie) => { %>
                            <tr>
                                <td class="text-center border border-black p-3"><%= movie.title %></td>
                                <td class="text-center border border-black p-3"><%= movie.rating %></td>
                                <td class="text-center border border-black p-3">
                                    <% movie.directors.forEach((director) => { %>
                                        <%= director.f_name %> <%= director.l_name %>
                                    <% }) %>
                                </td>
                                <td class="text-center border border-black p-3 border-end-0">
                                    <% movie.categories.forEach((category) => { %>
                                        <%= category.name%>
                                    <% }) %>
                                </td>
                                <td class="border border-black p-3">
                                    <div class="d-flex justify-content-center gap-2">
                                        <a href="/<%= movie.id %>/edit" class="text-decoration-none border border-primary px-1 rounded bg-primary text-white">Edit movie</a>
                                        <form action="/<%= movie.id %>/delete" method="POST" class="d-inline">
                                            <button class="border border-danger rounded bg-danger text-white">Delete Movie</button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
        
                        <% }) %>
                    </tbody>
        
                </table>
            </div>
        </div>
    </div>
</body>
</html>