<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1><%= title %></h1>
    <% movies.forEach((movie) => { %>
        <p><%= movie.title %></p>
        <p><%= movie.rating %></p>
        <% directors[0].forEach((director) => { %>
            <p><%= director.f_name %> <%= director.l_name %></p>
       <% }) %>

       <% categories[0].forEach((category) => { %>
            <p><%= category.name %></p>
       <% }) %>


    <% }) %>

    <div>
        <a href="/create">Create Movies</a>
        <a href="/directors/create">Create Directors</a>
        <a href="/categories/create">Create Categories</a>
    </div>

    <div>
        <a href="/directors">Directors</a>
        <a href="/categories">Categories</a>
    </div>
</body>
</html>