<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1><%= title %></h1>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Rating</th>
                <th>Directors</th>
                <th>Genre</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            <% movies.forEach((movie) => { %>
                <tr>
                    <td><%= movie.title %></td>
                    <td><%= movie.rating %></td>
                    <td>
                        <% movie.directors.forEach((director) => { %>
                            <%= director.f_name %> <%= director.l_name %>
                        <% }) %>
                    </td>
                    <td>
                        <% movie.categories.forEach((category) => { %>
                            <%= category.name%>
                        <% }) %>
                    </td>

                    <td>
                        <a href="/<%= movie.id %>/edit">Edit movie</a>
                        <a href="/<%= movie.id %>/delete">Delete movie</a>
                    </td>

                </tr>
                
            <% }) %>
        </tbody>
        
    </table>

    <div>
        <a href="/create">Create Movies</a>
        <a href="/directors/create">Create Directors</a>
        <a href="/categories/create">Create Categories</a>
    </div>

    <div>
        <a href="/directors">Directors</a>
        <a href="/categories">Categories</a>
    </div>
</body>
</html>